<h1>Welcome, <%= user.username %></h1>

<h3><%= todays_workout_message %></h3>

<% user.workouts.each do |workout| %>
    <p>
        <%= workout.date.to_s %><br>
        <%= "Run" if workout.run %><br>
        <a href="/workouts/<%= workout.id %>">edit</a>
    </p>
<% end %>

<p><a href="/logout">Log out</a></p>