<h1><%= @workout.date %> workout</h1>

<% if @run %>
    <div class="runContainer">
        <h3>Run</h3>
        <p>Distance: <%= @run_miles %> miles</p>
        <p>Time: <%= @run_minutes%>:<%= @run_seconds %></p>
        <p>Incline: <%= @run_incline %></p>
    </div>
<% end %>

<br>

<a href="/workouts/<%= @workout.id %>/edit">Edit Workout</a>

<br>
<br>

<form action="/workouts/<%= @workout.id %>/delete" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit" id="delete_workout">Delete Workout</button>
</form>

<br>

<p><a href="/workouts">Home</a> | <a href="/logout">Log out</a></p>