<h3><%= label %>: </h3>

<p><%= error_message %></p>

<form action="<%= action %>" method="POST">
    <% fields = [["username", "text"], ["password", "password"]] %>
    <% fields.each do |field| %>
        <% field_name = field[0] %>
        <% field_type = field[1] %>
        <p>
            <label for="<%= field_name %>"><%= field_name.capitalize%>: </label>
            <input type="<%= field_type %>" id="<%= field_name %>" name="<%= field_name %>">
        </p>
    <% end %>

    <input type="submit" value="<%= label %>">
</form >